<div class="card">
    <div class="card-body text-center container">
        <div class="row py-lg-4">
            <div class="col-lg-8 col-md-6 mx-auto">
                <h1 class="display-3 fw-bold">
                    ACERCA DE
                </h1>
                <p class="lead">
                        "EL EL PROYECTO ESTA HECHO PARA ASISTIR A LAS PERSONAS EN SU LLEGADA Y SALIDA DEL TRABAJO"
                </p>
            </div>
        </div>
    </div>
</div>