<div class="container">

    <div class="row">

        <div class="col">

            <div class="card">

                <div class="card-body">

                    <p>HOLA ESTA ES MI PRIMERA PÁGINA WEB</p>

                    <p>MODIFICACIONES</p>

                </div>

            </div>

        </div>

    </div>

</div>