<p>Date/Time: <span id="datetime"></span></p>

<script>
const dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>

<div class="card p-5 mb-2">
    <div class="container-fluid py-5">
        <h1 class="display-3 fw-bold">SERVICIO DE ASISTENCIA</h1>
        <p class="col-md-8 fs-3">
            Es un placer atenderte, ¿qué puedo hacer por ti?<br>
            Te agradezco la confianza<br>
            Vamos a gestionar tu tiempo<br>
            Nos ocupamos de lo que a ti te preocupa.
        </p>
        {{#if session}} <!-- Verificar si el usuario está autenticado -->
            {{#if session._id}} <!-- Verificar si hay una sesión activa -->
                <p></p>
            {{else}}
                <a class="btn btn-lg text-white bg-dark" href="/registro" role="button">REGISTRATE</a>
            {{/if}}
        {{else}}
            <a class="btn btn-lg text-white bg-dark" href="/registro" role="button">REGISTRATE</a>
        {{/if}}
    </div>
</div>