<div class="row mb-2">
    <div class="col">
        <div class="card mt-2">
            <div class="card-header text-center">
                <h5>Bienvenido ยก {{user.name}} !</h5>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col text-end">

        <a href="/notas/add" class="btn btn-success">Agregar Nota</a>

    </div>

</div>

<div class="row">

    {{#each notas}}
    <div class="mb-2 col col-12 col-lg-4 col-md-4 col-sm-12">

        <div class="card">
            
            <div class="card-header">
                <p><b>{{title}}</b></p>
            </div>

            <div class="card-body">

                <p>{{description}}</p>

            </div>
        </div>
    </div>
    {{/each}}

</div>