
<div class="row">

    <div class="col">

        <div class="card mt-2">

            <div class="card-header text-center">
                
                <h5>Bienvenido ยก {{user.email}} !</h5>

            </div>

        </div>


    </div>

</div>