<div class="row">
    <div class="col-sm-6 mx-auto">
        <div class="card border-dark">
            <div class="card-header text-center bg-dark pt-4">
                <h2 class="text-white">
                    REGISTRARSE
                </h2>
            </div>
            <div class="card-body">
                <form action="/registro" method="POST">
                    <div class="form-group mb-3 m-4 my-3">
                        <label for="name"></label>
                        <input type="text" class="form-control form-control-lg" name="name" placeholder="Nombre completo"
                            value="{{datos.name}}" />
                    </div>
                    <div class="form-group mb-3 m-4">
                        <label for="email"></label>
                        <input type="email" class="form-control form-control-lg" name="email" placeholder="Correo electrónico"
                            value="{{datos.email}}" />
                    </div>
                    <div class="form-group mb-3 m-4">
                        <label for="password"></label>
                        <input type="password" class="form-control form-control-lg" name="password"
                            placeholder="Clave de seguridad" value="{{datos.password}}" />
                    </div>
                    <div class="form-group mb-3 m-4">
                        <label for="confirm_password"></label>
                        <input type="password" class="form-control form-control-lg" name="confirm_password"
                            placeholder="Confirmar Clave" value="{{datos.confirm_password}}" />
                    </div>
                    <div class="form-group text-center">
                        <div class="d-grid gap-2 col-7 mx-auto">
                            <button type="submit" class="btn btn-block btn-lg text-white" style="background: #000046;">
                                <h5>Editar Cuenta</h5>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>