<div class="card mt-5 rounded">
    <table id="myTable" class="display table table_hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each registrosAsistencia}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.email}}</td>
                <td>

                    <script>

                        var fechaRegistro = new Date("{{this.fecha}}");
                        var dia = fechaRegistro.getDate();
                        var mes = fechaRegistro.getMonth() + 1;
                        var anio = fechaRegistro.getFullYear();
                        var horas = fechaRegistro.getHours();
                        var minutos = fechaRegistro.getMinutes();
                        var segundos = fechaRegistro.getSeconds();

                        var fechaHoraFormateada = `${dia}/${mes}/${anio} - ${horas}:${minutos}:${segundos}`;
                        document.currentScript.parentElement.innerHTML = fechaHoraFormateada;

                    </script>

                </td>
                <td><a href="/" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css" />

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>

<script src="/js/table_users.js"></script>